@import url('https://fonts.cdnfonts.com/css/poppins');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    font-family:'Poppins', sans-serif;
    background-color:#f5f5f5;
    display:flex;
    justify-content:center;
    align-items:center;
}
.container{
    width:60%;
    height:400px;
    margin-top:5%;
    background-color:#1D3557;
    color:#f5f5f5;
    display:flex;
    flex-direction:column;
}
.container h1{
    text-align:center;
    text-transform:uppercase;
    letter-spacing:2px;
    margin-top:2%;
}
.instructions{
    width:60%;
    height:180px;
    background-color:#457B9D;
    align-self:center;
    margin-top:3%;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;

}
.instructions h3{
    text-align:center;
    font-size:1.5em;
    font-weight:600;
    position:fixed;
    top:30%;
}
.instructions p{
    text-align:justify;

}
.btn{
    margin-left:20%;
    margin-top:3%;
    width:20%;
    height:35px;
    text-align:center;
    text-decoration:none;
    border:none;
    background-color:#457B9D;
    color:#f5f5f5;
    text-transform:uppercase;
    cursor:pointer;
}
.btn p{
    margin-top:3%;
}
.credit{
    align-self:center;
    margin-top:2%;
    font-size:0.8em;
}